* {
  box-sizing: border-box;
}

* + * {
  box-sizing: inherit;
}

:root {
  --square-size: 3em;
  --line-size: 2px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
}

aside {
  text-align: center;
}

.board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: calc(3 * var(--square-size));
  margin: 0 auto;
  border: calc(var(--line-size) / 2) solid black;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--square-size);
  min-width: var(--square-size);
  border: calc(var(--line-size) / 2) solid black;
}
